h3,h5,p,a{
    text-decoration: none;
    margin: 0px;
}
header{
    position: absolute;
    z-index: 1;
    left: 2vw;
    top: -2vw;
}
header img{
    width: 16%;
    height: auto;
}
.content{
    position: absolute;
    z-index: 1;
    padding: 10px;
}
.content .lead{
    text-align: left;
}
.content .text p{
    color: white;
}
.lead h5{
    display: inline-block;
    color: white;
    background-image: linear-gradient(270deg, transparent 0 30%, black 100%);
}
.lead h3{
    color: white;
}
nav{
    position: absolute;
    right: 4vw;
    top: 2vw;
    display: flex;
    flex-direction: row;
    z-index: 1;
    text-align: center;
}
nav .title{
    background-color: black;
    color: white;
    opacity: 0.5;
    padding: 3px 10px;
}
nav .title-here{
    background-color: #288FB4;
    color: white;
    opacity: 0.5;
    padding: 3px 10px;
}
main{
    display: flex;
    flex-direction: column;
    background-color: black;
    z-index: 0;
}
main .first{
    position: relative;
    clip-path: polygon(0 0,100% 0,100% calc(100% - 6vw),0 calc(100% - 1vw));
}
main .first::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: linear-gradient(180deg, transparent 0 60%, black 100%);
}
main .first img{
    width: 100%;
    clip-path: polygon(0 0,100% 0,100% calc(100% - 5vw),0 100%);
}
main .first .content{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-end;
    justify-content: flex-end;
    left: 2vw;
    bottom: 2vw;
}
main .second{
    position: relative;
    top: -4vw;
    clip-path: polygon(0 10%,100% 0,100% 100%,0 90%);
}
main .second::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: linear-gradient(90deg, transparent 0 50%,black 100%);
}
main .second img{
    width: 100%;
    clip-path: polygon(0 10%,100% 0,100% 100%,0 90%);
}
main .second .content{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-end;
    justify-content: flex-end;
    bottom: 3vw;
    right: 10px;
    width: 50%;
}
main .second .content .lead{
    display: inline-block;
    text-align: right;
    padding: 1px;
}
main .second .content .lead h5{
    text-align: left;
}
main .second .content .text{
    text-align: right;
    font-size: 12px;
}
main .second .content .jump{
    position: relative;
    text-align: center;
    width: 50%;
    left: calc(50% + 3vw);
}
main .second .content .jump p{
    color: white;
}
main .third{
    position: relative;
    top: -7vw;
    clip-path: polygon(0 0,100 10%,100% 90%,0 100%);
}
main .third::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: linear-gradient(270deg, transparent 0 50%, black 100%);
}
main .third img{
    width: 100%;
    clip-path: polygon(0 0,100% 10%,100% 90%,0 100%);
}
main .fourth{
    position: relative;
    top: -9vw;
}
main .fourth::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: linear-gradient(90deg, transparent 0 50%, black 100%);
}
main .fourth img{
    width: 100%;
    clip-path: polygon(0 10%,100% 0%,100% 100%,0 100%);
}
footer{
    background-color: black;
    width: 100%;
    height: 20vw;
}
footer .footer-nav{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    font-size: 14px;
}
footer .footer-nav .footer-nav-item{
    padding: 0 10px;
    color: white;
}
footer .footer-nav .footer-nav-item-here{
    padding: 0 10px;
    color: #288FB4;
}
footer .footer-nav .object{
    background: white;
    width:1px;
}