<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>inquiry</title>
    <link rel="stylesheet" href="css/inquiry_style.css">
    <link rel="icon" href="img/favicons/favicon.ico">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <header>
        <a href="index.html">
            <img src="img/title.png">
        </a>
    </header>
    
    <nav>
        <a href="index.html"><div class="title">home</div></a>
        <a href="index.html"><div class="title">rendering</div></a>
        <a href="inquiry.html"><div class="title-here">inquiry</div></a>
    </nav>

    <div class="inquiry">
        <h5>INQUIRY</h5>
        <div class="nice-wrap">
            <input class="nice-textbox" type="text"/>
            <label class="nice-label" for="Username">E-mail</label>
        </div>
    </div>
    

    <main>
        <div class="first" id="num1">
            <img src="img/1.png" alt="">
        </div>
        
        <div class="second" id="num2">
            <img src="img/2.png">
        </div>

        <div class="third">
            <img src="img/3.png">
        </div>

        <div class="fourth">
            <img src="img/4_1.png">
        </div>

    </main>

    <footer>
        <div class="footer-nav">
            <a href="#num1"><div class="footer-nav-item-here">home</div></a>
            <div class="object">&emsp;</div>
            <a href="#num2"><div class="footer-nav-item">rendering</div></a>
            <div class="object">&emsp;</div>
            <a href="inquiry.html"><div class="footer-nav-item">inquiry</div>
            </a>
        </div>
    </footer>
    <script src="js/textbox.js" defer></script>
</body>
</html>